.fontThree {
  display: flex;
  width: 77px;
  height: 26px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  //typography
  color: #1E1B1A;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.fontFour {
  position : absolute;
  left : -3px;
  display: flex;
  width: 80px;
  height: 26px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  //typography
  color: #1E1B1A;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.fontDarkmode {
  position : absolute;
  left : -14px;
  display: flex;
  width: 80px;
  height: 26px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  //typography
  color: #1E1B1A;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.tab {
  width: 98px;
  height: 900px;
  //style
  border-radius: 20px;
  border: 1px solid #787776;
  background-color: #CBCCCB;
}

.logo {
  position : absolute;
  top : 27px;
  left : 14px;
  width: 70px;
  height: 70px;
  //style
  border-radius: 15px;
  background-color : #00145C;
  //background: url(<path-to-image>), lightgray 0px 0px / 100% 100% no-repeat;
}

.profileBg {
  position : absolute;
  top : 130px;
  left : 13px;
  width: 75px;
  height: 75px;
  flex-shrink: 0;
}

.lecture {
  position : absolute;
  top : 260px;
  left : 14px;
  width: 70px;
  height: 60px;
  flex-shrink: 0;
}

.problem {
  position : absolute;
  top : 360px;
  left : 14px;
  width: 70px;
  height: 60px;
  flex-shrink: 0;
}

.skillcheck {
  position : absolute;
  top : 460px;
  left : 14px;
  width: 70px;
  height: 60px;
  flex-shrink: 0;
}

.contest {
  position : absolute;
  top : 565px;
  left : 14px;
  width: 70px;
  height: 60px;
  flex-shrink: 0;
}

.community{
  position : absolute;
  top : 670px;
  left : 14px;
  width: 70px;
  height: 60px;
  flex-shrink: 0;
}

.darkmode{
  position : absolute;
  top : 800px;
  left : 25px;
  align-content: center;
  width: 49px;
  height: 49px;
  flex-shrink: 0;
}