.fontThree {
  position: relative;
  display: flex;
  width: 80px;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  //typography
  color: #1E1B1A;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.fontFour {
  position : relative;
  display: flex;
  width: 80px;
  height: 26px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  //typography
  color: #1E1B1A;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.tab {
  position : absolute;
  width: 10%;
  height: calc(100vh - 2px);
  display: inline-block;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  //style
  border-radius: 20px;
  border: 1px solid #787776;
  background-color: #CBCCCB;
}

.logo {
  position : relative;
  margin-top : 20px;
  margin-left : 20px;
  width: 70px;
  height: 70px;
  //logo 중앙정렬
  display: flex;
  align-items: center;
  justify-content: center;
  //style
  border-radius: 15px;
  background-color : #00145C;
  //background: url(<path-to-image>), lightgray 0px 0px / 100% 100% no-repeat;
}

.iconGroup{
  position: relative;
  margin-top : 10px;
  margin-left : 10px;
  width : 40%;
  height : 80%;
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon {
  position : relative;
  margin-top : 10px;
  margin-left : 5px;
  width: 70px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  flex-shrink: 0;
}