.background {
  height : 100vh;
  //style
  background-color : #272423; //배경 색
  background-size : cover;
}

.monitor {
  position : absolute;
  left : 98px;
  width: 1342px;
  height: 578px;
  //style
  border-radius: 8px;
  background: #CBCCCB;
  box-shadow: 10px 4px 10px 10px rgba(0, 0, 0, 0.25);
}

.monitorLine1 {
  position : absolute;
  left : 10px;
  top : 13px;
  width: 1320px;
  height: 546px;
  //style
  border-radius: 15px;
  border-top: 1px solid #827F81;
  border-right: 2px solid #827F81;
  border-bottom: 2px solid #827F81;
  border-left: 1px solid #827F81;
  background: #E9E8E6;
}

.monitorLine2 {
  position : absolute;
  top : 15px;
  left : 15px;
  width: 1291px;
  height: 472px;
  //style
  border-radius: 30px;
  border-top: 1px solid #1E1B1A;
  border-right: 2px solid #1E1B1A;
  border-bottom: 2px solid #1E1B1A;
  border-left: 1px solid #1E1B1A;
  background: rgba(188, 187, 186, 0.58);
}

.screen {
  position : absolute;
  left : 8px;
  width: 1283px;
  height: 472px;
  //style
  border-radius: 30px;
  border: 1px solid #000;
  background: #00145C;
  box-shadow: 10px 20px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

.snslab {
  position : absolute;
  top : 499px;
  left : 547px;
  width: 236px;
  height: 50px;
  //style
  color: #272423;
  text-align: center;
  font-family: Neo둥근모, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.powerBx {
  position : absolute;
  top : 505px;
  left : 1168px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #0011B7;
  box-shadow: 10px 10px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

.power {
  position : absolute;
  top : 498px;
  left : 1202px;
  width: 81px;
  height: 31px;
  flex-shrink: 0;
  color: #272423;
  font-family: sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

//---------! keyboard ----------//

.keyboardBg {
  position : absolute;
  top : 578px;
  left : 98px;
  width: 1342px;
  height: 322px;
  //style
  border-radius: 0 0 8px 8px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #D9D9D9;
}

.hinge {
  position : absolute;
  left : 91px;
  width: 1164px;
  height: 24px;
  //style
  background: #D9D9D9;
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.25);
}

.langBttn {
  width: 73px;
  height: 63px;
  flex-shrink: 0;
  flex-direction: column;
  //style
  border-radius: 20px;
  border: 1px solid #000;
  background: #D9D9D9;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  //typo
  color: #1E1B1A;
  text-align: center;
  font-family: sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  //align
  display: flex;
  justify-content: center;
  align-items: center;
}

.hanBttn {
  position : absolute;
  top : 45px;
  left : 91px;
}

.enBttn {
  position : absolute;
  top : 45px;
  left : 180px;
}